global:
  scrape_interval:     15s

scrape_configs:
  # Make Prometheus scrape itself for metrics.
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['prometheus:9090']

  # Example job for node_exporter
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['192.168.1.40:9140', '192.168.1.41:9141', '192.168.1.42:9142', '192.168.1.43:9143']